@use 'reset';

@font-face {
  font-family: SuperMario;
  src: url('SuperMario.ttf');
}

@font-face {
  font-family: Circular;
  src: url('CircularStd-Medium.otf');
}

@font-face {
  font-family: Circular;
  font-weight: bold;
  src: url('CircularStd-Bold.otf');
}

html, body {
  background: #191922;
  color: #fff;
  font-family: Circular, sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

* {
  &:focus-visible {
    outline-color: rgb(25, 191, 241);
  }
}
