<!DOCTYPE html>
<html>
<head>
  <title>Kartalytics</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div id="root"></div>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
